//- VARS
-
  var products = [
    {
      img: 'img/content/products/budo.png',
      title: 'Будо-маты',
      cost: 'От 590 руб',
      link: 'budo.html'
    },
    {
      img: 'img/content/products/fight.png',
      title: 'Борцовский ковер',
      cost: 'От 860 руб',
      link: 'carpet.html'
    },
    {
      img: 'img/content/products/tatami.png',
      title: 'Татами',
      cost: 'От 2 160 руб',
      link: 'tatami.html'
    },
    {
      img: 'img/content/products/roll.png',
      title: 'Ролл-маты',
      cost: 'От 1 350 руб',
      link: 'roll.html'
    },
    {
      img: 'img/content/products/gymnastics.png',
      title: 'Гимнастические маты',
      cost: 'От 2 680 руб',
      link: 'mat.html'
    },
    {
      img: 'img/content/products/wall.png',
      title: 'Стеновые протекторы',
      cost: 'От 3 080 руб',
      link: 'wall.html'
    },
    {
      img: 'img/content/products/ring.png',
      title: 'Ринг',
      cost: 'От 77 000 руб',
      link: 'ring.html'
    },
    {
      img: 'img/content/products/mma.png',
      title: 'Клетки ММА',
      cost: 'От 128 000 руб',
      link: 'mma.html'
    },
    {
      img: 'img/content/products/tile.png',
      title: 'Резиновая плитка',
      cost: 'От 1 280 руб',
      link: 'tile.html'
    },
    {
      img: 'img/content/products/childfloor.png',
      title: 'Детский пол',
      cost: 'От 14 000 руб',
      link: 'child.html'
    },
  ];



section.products
  .container.container--wider
    h2.title.title--products Наша продукция

    ul.products__list

      each item in products
        li.products-item
          .products-item__img
            img(src=item.img, alt="")
          .products-item__body
            h3.products-item__title= item.title
            span.products-item__cost= item.cost
            a.button(href="#") Скачать прайс
          .products-item__foot
            a.products-item__more(
              href= item.link,
              target="_blank"
            ) Подробнее

      




