-
  var modals = [
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Каратэ?`,
      id: 'karate',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Айкидо?`,
      id: 'aikido',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для дзюдо?`,
      id: 'judo',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Джиу-джитсу?`,
      id: 'jujitsu',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Ушу?`,
      id: 'ushu',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Тайского бокса?`,
      id: 'thai',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для MMA?`,
      id: 'mma',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Вольной борьбы?`,
      id: 'freestyle',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Кудо?`,
      id: 'kudo',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Грепплинга?`,
      id: 'grappling',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Греко-Римской борьбы?`,
      id: 'greek',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Тхэквандо?`,
      id: 'taekwondo',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Бокса?`,
      id: 'boxing',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Рукопашного боя?`,
      id: 'hand',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Йоги?`,
      id: 'yoga',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sports',
      title: `Хотите заказать`,
      subtitle: `спортивное покрытие для Гимнастики?`,
      id: 'gymnastics',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'bid',
      title: `Оставьте заявку`,
      subtitle: `Мы свяжемся с Вами в ближайшее время`,
      id: 'bid',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'price',
      title: `Оставьте заявку`,
      subtitle: `Мы вышлем прайс-лист в ближайшее время`,
      id: 'price',
      button: 'Получить прайс-лист',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'call',
      title: `Заказать обратный звонок`,
      subtitle: `Мы перезвоним Вам в ближайшее время`,
      id: 'call',
      button: 'Отправить заявку',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'storage',
      title: `Оставьте заявку`,
      subtitle: `Мы свяжемся с Вами в ближайшее время`,
      id: 'storage',
      button: 'Оформить заказ',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
    {
      category: 'sale',
      title: `Оставьте заявку`,
      subtitle: `Мы свяжемся с Вами в ближайшее время`,
      id: 'sale',
      button: 'Получить подарок',
      field_2: '',
      field_3: '',
      field_4: '',
      field_5: '',
    },
  ];



each item, index in modals
  .modal.modal--form(
    id="modal-form-" + item.id,
    aria-hidden='true'
  )
    .modal__overlay(tabindex='-1', data-micromodal-close='')
      .modal__container.modal__container--big(role='dialog', aria-modal='true')
        main.modal__content
          button.modal__close(aria-label='Закрыть попап', data-micromodal-close='')
          .pure-g
            .pure-u-1.pure-u-md-1-2
              .modal__banner(
                style="background-image: url(img/backgrounds/bg-modal-banner.jpg);"
              )
                .modal__banner-content
                  .modal__banner-logo
                    img(src="img/general/logo-white.png", alt="")
                  p.title.title--modal-banner Доставка –
                  p.modal__banner-text
                    | 172 пункта выдачи
                    br
                    | по России и СНГ
            .pure-u-1.pure-u-md-1-2
              form.form.form--modal
                .form__head
                  p.form__title!= item.title
                  p.form__subtitle!= item.subtitle

                .form-control__wrapper
                  label.visuallyhidden(
                    for="client-name-modal-" + item.category + "-" + (index + 1)
                  ) Ваше имя
                  input.form-control(
                    type="text",
                    id="client-name-modal-" + item.category + "-" + (index + 1),
                    name="client-name-modal",
                    placeholder="Ваше имя"
                  )
                .form-control__wrapper
                  label.visuallyhidden(
                    for="client-email-modal-" + item.category + "-" + (index + 1)
                  ) Ваша почта
                  input.form-control(
                    type="text",
                    id="client-email-modal-" + item.category + "-" + (index + 1),
                    name="client-email-modal",
                    placeholder="Ваша почта"
                  )
                .form-control__wrapper
                  label.visuallyhidden(
                    for="client-phone-modal-" + item.category + "-" + (index + 1)
                  ) Номер телефона
                  input.form-control(
                    type="tel",
                    id="client-phone-modal-" + item.category + "-" + (index + 1),
                    name="client-phone-modal",
                    placeholder="Ваш номер телефона"
                  )
                .form__acceptance-wrapper
                  input.visuallyhidden(
                    type="checkbox",
                    name="client-acceptance-" + (index + 1),
                    id="client-acceptance-" + (index + 1),
                    checked
                  )
                  label.form__acceptance-label(
                    for="client-acceptance-" + (index + 1)
                  )
                    span.form__acceptance-mask
                    | - Я даю согласие на обработку моих персональных данных

                button.button(type="submit")= item.button

.modal.modal--form(
    id="modal-form-kill",
    aria-hidden='true'
  )
    .modal__overlay(tabindex='-1', data-micromodal-close='')
      .modal__container(role='dialog', aria-modal='true')
        main.modal__content
          button.modal__close(aria-label='Закрыть попап', data-micromodal-close='')
          .hero-widget.hero-widget--modal
            .hero-widget__inner
              p.hero-widget__title
                | Ликвидация склада
                br
                | до 30.08.2019
              .hero-widget__timer
                .hero-widget__timer-item
                  span.hero-widget__timer-top 25
                  span.hero-widget__timer-bottom Часов
                .hero-widget__timer-item
                  span.hero-widget__timer-top 13
                  span.hero-widget__timer-bottom Минут
                .hero-widget__timer-item
                  span.hero-widget__timer-top 6
                  span.hero-widget__timer-bottom Секунд
              
              form.form.form--hero-widget
                .form-control__wrapper
                  label.visuallyhidden(for="client-name-kill") Ваше имя
                  input.form-control(
                    type="text",
                    id="client-name-kill",
                    name="client-name-kill",
                    placeholder="Ваше имя"
                  )
                .form-control__wrapper
                  label.visuallyhidden(for="client-email-kill") Ваша почта
                  input.form-control(
                    type="text",
                    id="client-email-kill",
                    name="client-email-kill",
                    placeholder="Ваша почта"
                  )
                .form-control__wrapper
                  label.visuallyhidden(for="client-phone-kill") Номер телефона
                  input.form-control(
                    type="tel",
                    id="client-phone-kill",
                    name="client-phone-kill",
                    placeholder="Ваш номер телефона"
                  )
                button.button(type="submit") Отправить заявку
