.modal.modal--form#modal-form-jujitsu(aria-hidden='true')
  .modal__overlay(tabindex='-1', data-micromodal-close='')
    .modal__container(role='dialog', aria-modal='true')
      button.modal__close(aria-label='Закрыть попап', data-micromodal-close='')
      main.modal__content
        form.form.form--modal
          .form__head
            p.form__title Хотите заказать
            p.form__subtitle спортивное покрытие для Джиу-джитсу?
          
          .form-control__wrapper
            label.visuallyhidden(for="client-name-modal") Ваше имя
            input.form-control(
              type="text",
              id="client-name-modal",
              name="client-name-modal",
              placeholder="Ваше имя"
            )
          .form-control__wrapper
            label.visuallyhidden(for="client-email-modal") Ваша почта
            input.form-control(
              type="text",
              id="client-email-modal",
              name="client-email-modal",
              placeholder="Ваша почта"
            )
          .form-control__wrapper
            label.visuallyhidden(for="client-phone-modal") Номер телефона
            input.form-control(
              type="tel",
              id="client-phone-modal",
              name="client-phone-modal",
              placeholder="Ваш номер телефона"
            )
          button.button(type="submit") Отправить заявку