section.tatami-about(style="background-image: url(img/general/pattern-1.png);")
  .container
    .tatami-about__grid.pure-g
      .tatami-about__col-left.pure-u-1.pure-u-lg-7-12
        .tatami-about__content
          h2.title.title--tatami-about
            | Татами Euromat
          .tatami-about__text
            p
              | Первоначально с японского языка переводится, как циновка из соломы, в современности татами называют спортивное напольное покрытие, используемое в восточных единоборствах, отличительной особенностью является ребристая поверхность и увеличенная жесткость мата.
            p
              b
                | Изготавливаем тренировочные и соревновательные татами международного уровня
      .tatami-about__col-right.pure-u-1.pure-u-lg-5-12
        img.tatami-about__img.lozad(
          data-src="img/content/tatami/tatami-img.png",
          alt=""
        )
        noscript
          img.tatami-about__img(
            src="img/content/tatami/tatami-img.png",
            alt=""
          )
    .tatami-about__foot
      .tatami-about__foot-content
        p.tatami-about__foot-heading
          | разместим на татами логотип вашей компании
        p.tatami-about__foot-subheading
          | Оставьте заявку и наш специалист свяжется с вами для подробной консультации

      button.button(
        type="button",
        data-micromodal-trigger="modal-form-bid"
      ) Оставить заявку



