-
  var colors_1 = [
    {
      img: 'img/content/budo/colors/red-blue.png',
      title: 'Красно-синие'
    },
    {
      img: 'img/content/budo/colors/yellow-blue.png',
      title: 'Желто-синие'
    },
    {
      img: 'img/content/budo/colors/yellow-green.png',
      title: 'Желто-зеленые'
    },

  ];

-
  var colors_2 = [
    {
      img: 'img/content/budo/colors/black-green.png',
      title: 'Черно-зеленые'
    },
    {
      img: 'img/content/budo/colors/orange-violet.png',
      title: 'Оранжево-фиолетовые'
    },
    {
      img: 'img/content/budo/colors/black-white.png',
      title: 'Черно-белые'
    },
    {
      img: 'img/content/budo/colors/black-red.png',
      title: 'Черно-красные'
    },
    {
      img: 'img/content/budo/colors/yellow-black.png',
      title: 'Желто-черные'
    },
    {
      img: 'img/content/budo/colors/white.png',
      title: 'Белые'
    },
  ];


section.budo-calc
  .container
    h2.title.title--budo-calc Расчет стоимости покрытия

    .budo-calc__content
      .budo-calculator
        .budo-calculator__top
          .budo-calculator__inner
            .budo-calculator__top-grid
              .budo-calculator__top-left
                .budo-calculator__top-row
                  .budo-calculator__top-heading
                    p.budo-calculator__top-title
                      | Укажите площадь покрытия (м<sup>2</sup>):
                    p.budo-calculator__top-subtitle.highlight
                      | Чем больше площадь, тем ниже цена

                  .quantity.quantity--budo-calculator
                    button.quantity__btn.quantity__btn--minus
                      | -
                    input.quantity__input#square(
                      type='text',
                      name='square',
                      placeholder='0',
                      pattern='[0-9]*'
                    )
                    button.quantity__btn.quantity__btn--plus
                      | +

                .budo-calculator__top-row
                  .budo-calculator__top-heading
                    p.budo-calculator__top-title
                      | Укажите толщину матов:
                  .control-group.control-group--budo-calculator
                    .control-item
                      input.visuallyhidden#thickness-1(
                        type="radio",
                        name="thickness",
                        value="1",
                        checked
                      )
                      label.control-item__label(for="thickness-1") 1 см

                    .control-item
                      input.visuallyhidden#thickness-2(
                        type="radio",
                        name="thickness",
                        value="1.5",
                      )
                      label.control-item__label(for="thickness-2") 1,5 см

                    .control-item
                      input.visuallyhidden#thickness-3(
                        type="radio",
                        name="thickness",
                        value="2",
                      )
                      label.control-item__label(for="thickness-3") 2 см

                    .control-item
                      input.visuallyhidden#thickness-4(
                        type="radio",
                        name="thickness",
                        value="2.5",
                      )
                      label.control-item__label(for="thickness-4") 2,5 см

                    .control-item
                      input.visuallyhidden#thickness-5(
                        type="radio",
                        name="thickness",
                        value="4",
                      )
                      label.control-item__label(for="thickness-5") 4 см


              .budo-calculator__top-right
                .budo-calculator__top-heading
                  p.budo-calculator__top-title  Характеристики
                ul.budo-calculator__top-list
                  li <b>Толщина:</b> 2,5 см (двухцветные, двухсторонние)
                  li <b>Крепление:</b> Ласточкин хвост
                  li <b>Размер:</b> 100х100 см
                  li <b>Жесткость:</b> 40 ШОР (200кг/м3)
                  li <b>Фактура:</b> Циновка
                  li <b>Производство:</b> Россия

        .budo-calculator__sale
          .budo-calculator__inner
            p.budo-calculator__title Ликвидация склада
            .budo-calculator__sale-row
              .budo-calculator__sale-item
                span 2 см:
                span.del 1120 руб
                span.highlight 920 руб
              .budo-calculator__sale-item
                span 4 см:
                span.del 1720 руб
                span.highlight 1520 руб

              button.button(
                type="button",
                data-micromodal-trigger="modal-form-storage"
              ) Оформить заказ со скидкой

        .budo-calculator__colors
          .budo-calculator__inner
            p.budo-calculator__title Выберите цвет
            .pure-g
              .pure-u-1.pure-u-lg-1-2
                p.budo-calculator__colors-subtitle популярный цвет

                ul.card-list.card-list--budo-calculator
                  each item, index in colors_1
                    li.card-list__item.js-check
                      .card-list__item-inner
                        .card.card--bg.card--budo-calculator
                          figure.card-media
                            .card-media__content
                              img.lozad(
                                data-src=item.img,
                                alt=""
                              )
                              noscript
                                img(
                                  src=item.img,
                                  alt=""
                                )
                          .card__foot
                            img(src="img/general/card-logo.png", alt="")
                        .card-list__item-foot
                          span.card-list__item-title= item.title
                        .control-box
                          input.visuallyhidden(
                          type="radio",
                          name="colors",
                          id= "colors-1-" + (index+1),
                          value= item.title,
                          )
                          label.control-box__label(
                            for="colors-1-" + (index+1)
                          )
                          span.control-box__flag

                .budo-calculator__colors-notes
                  p.bigger
                    | Хочу индивидуальный цвет
                  p.smaller.highlight
                    | Доступно при заказе от 50 м<sup>2</sup>
                  .budo-calculator__colors-notes-controls
                    input#toggle.visuallyhidden(
                      type='checkbox',
                      name='my-color',
                      data-toggle='colors',
                    )
                    label.switch.js-switch(
                      for='toggle',
                    )

              .pure-u-1.pure-u-lg-1-2
                p.budo-calculator__colors-subtitle
                  span.bigger Эксклюзивный цвет
                  span.smaller.highlight (Заказ от 50 м<sup>2</sup>)
                ul.card-list.card-list--budo-calculator
                  each item, index in colors_2
                    li.card-list__item.js-check
                      .card-list__item-inner
                        .card.card--bg.card--budo-calculator
                          figure.card-media
                            .card-media__content
                              img.lozad(
                                data-src=item.img,
                                alt=""
                              )
                              noscript
                                img(
                                  src=item.img,
                                  alt=""
                                )
                          .card__foot
                            img(src="img/general/card-logo.png", alt="")
                        .card-list__item-foot
                          span.card-list__item-title= item.title
                        .control-box
                          input.visuallyhidden(
                          type="radio",
                          name="colors",
                          id= "colors-2-" + (index+1),
                          value= item.title,
                          )
                          label.control-box__label(
                            for="colors-2-" + (index+1)
                          )
                          span.control-box__flag

        .budo-calculator__foot
          .budo-calculator__inner
            p.budo-calculator__title
              | Вышлем расчет на вашу почту прямо сейчас
            form.budo-calculator__foot-row
              .form-control__wrapper
                label.visuallyhidden(for="calc-name") Ваше имя
                input.form-control(
                  type="text",
                  id="calc-name",
                  name="calc-name",
                  placeholder="Ваше имя"
                )
              .form-control__wrapper
                label.visuallyhidden(for="calc-email") Ваш e-mail
                input.form-control(
                  type="text",
                  id="calc-email",
                  name="calc-email",
                  placeholder="Ваш e-mail"
                )
              .form-control__wrapper
                label.visuallyhidden(for="calc-phone") Номер телефона
                input.form-control(
                  type="tel",
                  id="calc-phone",
                  name="calc-phone",
                  placeholder="Номер телефона"
                )
              button.button(type="submit") Рассчитать стоимость


            p.budo-calculator__title
              | Нужна консультация специалиста?
              button.button.button--call(
                type="button",
                title="Заказать обратный звонок",
                data-micromodal-trigger="modal-form-call"
              )
                span.icon.icon-phone

