-
  var heroMain = [
    {
      mod: 'home',
      img: 'img/content/hero-slider/img-index-1.jpg',
      bigTitle: `безусловный лидер <br> в сфере производства <br> спортивных покрытий`,
      smallTitle: ``,
      cost: ``,
      text: `Поможем выбрать покрытие для вашего вида спорта`
    },
    {
      mod: 'home',
      img: 'img/content/hero-slider/img-index-2.jpg',
      bigTitle: `оформление залов <br> по России и СНГ <br> под ключ`,
      smallTitle: ``,
      cost: ``,
      text: `Поможем выбрать покрытие для вашего вида спорта`
    },
  ];

-
  var heroBudo = [
    {
      mod: 'budo',
      img: 'img/content/hero-slider/img-budo-1.jpg',
      bigTitle: `Будо-Маты EVA <br> ласточкин хвост`,
      smallTitle: ``,
      cost: `от 590 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroCarpet = [
    {
      mod: 'carpet',
      img: 'img/content/hero-slider/img-carpet-1.jpg',
      bigTitle: `Классическое покрытие <br> для борцовских залов`,
      smallTitle: ``,
      cost: `от 860 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroChild = [
    {
      mod: 'child',
      img: 'img/content/hero-slider/img-child-1.jpg',
      bigTitle: `детский пол`,
      smallTitle: `для будущих чемпионов`,
      cost: `590 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroMat = [
    {
      mod: 'mat',
      img: 'img/content/hero-slider/img-mat-1.jpg',
      bigTitle: `Гимнастические маты`,
      smallTitle: ``,
      cost: `от 2680 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroMma = [
    {
      mod: 'mma',
      img: 'img/content/hero-slider/img-mma-1.jpg',
      bigTitle: `Клетки ММА`,
      smallTitle: `международного уровня`,
      cost: `от 128 000 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroRing = [
    {
      mod: 'ring',
      img: 'img/content/hero-slider/img-ring-1.jpg',
      bigTitle: `Ринги по нормам`,
      smallTitle: `международной ассоциации Бокса`,
      cost: `от 77 000 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroRoll = [
    {
      mod: 'roll',
      img: 'img/content/hero-slider/img-roll-1.jpg',
      bigTitle: `Ролл-маты`,
      smallTitle: `для всех видов единоборств`,
      cost: `от 1350 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroTatami = [
    {
      mod: 'tatami',
      img: 'img/content/hero-slider/img-tatami-1.jpg',
      bigTitle: `татами`,
      smallTitle: `международного уровня`,
      cost: `от 2160 рублей`,
      text: `От официального производителя`
    },
  ];
-
  var heroTile = [
    {
      mod: 'tile',
      img: 'img/content/hero-slider/img-tile-1.jpg',
      bigTitle: `Напольное покрытие <br>Резиновая плитка`,
      smallTitle: ``,
      cost: `от 1280 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];
-
  var heroWall = [
    {
      mod: 'wall',
      img: 'img/content/hero-slider/img-wall-1.jpg',
      bigTitle: `Стеновые протекторы <br> и защита колон`,
      smallTitle: ``,
      cost: `от 3080 рублей/м<sup>2</sup>`,
      text: `От официального производителя`
    },
  ];


section.hero
  .slider__wrapper.slider__wrapper--hero-main
    .slider-nav.slider-nav--shevrons-big.slider-nav--hero-main#hero-main-nav
      button.slider-nav__prev(aria-label="Предыдущий слайд")
      button.slider-nav__next(aria-label="Следующий слайд")
    .hero-main__slider.slider.slider--hero-main.js-hero-main-slider
      if pageClass == 'home-page'
        each item, index in heroMain
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text

      if pageClass == 'budo-page'
        each item, index in heroBudo
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'carpet-page'
        each item, index in heroCarpet
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'child-page'
        each item, index in heroChild
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)
                  span.bigger!= item.bigTitle
                  span.smaller!= item.smallTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'mat-page'
        each item, index in heroMat
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'mma-page'
        each item, index in heroMma
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)
                  span.bigger!= item.bigTitle
                  span.smaller!= item.smallTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'ring-page'
        each item, index in heroRing
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)
                  span.bigger!= item.bigTitle
                  span.smaller!= item.smallTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'roll-page'
        each item, index in heroRoll
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)
                  span.bigger!= item.bigTitle
                  span.smaller!= item.smallTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'tatami-page'
        each item, index in heroTatami
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)
                  span.bigger!= item.bigTitle
                  span.smaller!= item.smallTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'tile-page'
        each item, index in heroTile
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

      if pageClass == 'wall-page'
        each item, index in heroWall
          div(
            class='hero-main__slider-item hero-main__slider-item--' + item.mod,
            style=`background-image: url(${item.img})`
          )
            .container
              div(class='hero-content hero-content--' + item.mod)
                p(class='hero-content__text hero-content__text--' + item.mod)!= item.text
                h1(class='title title--hero title--hero-' + item.mod)!= item.bigTitle
                p.hero-content__extra с доставкой в <span class='js-place'></span>
                .hero-content-foot
                  p.hero-content__cost!= item.cost
                  button.button(
                    type='button',
                    data-micromodal-trigger="modal-form-bid"
                  ) Рассчитать стоимость

    .container.pos-r
      include ./hero-widget
  .container
    include ./hero-carousel


