.hero-widget.hero-widget--hero
  .hero-widget__inner
    p.hero-widget__title
      | Ликвидация склада
      br
      | до 30.08.2019
    .hero-widget__timer
      .hero-widget__timer-item
        span.hero-widget__timer-top 25
        span.hero-widget__timer-bottom Часов
      .hero-widget__timer-item
        span.hero-widget__timer-top 13
        span.hero-widget__timer-bottom Минут
      .hero-widget__timer-item
        span.hero-widget__timer-top 6
        span.hero-widget__timer-bottom Секунд
    
    form.form.form--hero-widget
      .form-control__wrapper
        label.visuallyhidden(for="client-name-hero") Ваше имя
        input.form-control(
          type="text",
          id="client-name-hero",
          name="client-name-hero",
          placeholder="Ваше имя"
        )
      .form-control__wrapper
        label.visuallyhidden(for="client-email-hero") Ваша почта
        input.form-control(
          type="text",
          id="client-email-hero",
          name="client-email-hero",
          placeholder="Ваша почта"
        )
      .form-control__wrapper
        label.visuallyhidden(for="client-phone-hero") Номер телефона
        input.form-control(
          type="tel",
          id="client-phone-hero",
          name="client-phone-hero",
          placeholder="Ваш номер телефона"
        )
      button.button(type="submit") Отправить заявку
