section.hero(style="background-image: url(img/backgrounds/bg-hero.jpg);")
  .container
    .hero__top.d-flex-wrapped
      .hero__text
        h1.title.title--hero
          | безусловный лидер
          br
          | в сфере производства
          br
          | спортивных покрытий
        p.hero__subtitle
          | Поможем выбрать покрытие для вашего вида спорта

      .hero-widget
        .hero-widget__inner
          p.hero-widget__title
            | Ликвидация склада
            br
            | до 30.08.2019
          .hero-widget__timer
            .hero-widget__timer-item
              span.hero-widget__timer-top 25
              span.hero-widget__timer-bottom Дней
            .hero-widget__timer-item
              span.hero-widget__timer-top 13
              span.hero-widget__timer-bottom Часов
            .hero-widget__timer-item
              span.hero-widget__timer-top 6
              span.hero-widget__timer-bottom Минут
          
          form.form.form--hero-widget
            .form-control__wrapper
              label.visuallyhidden(for="client-name-hero") Ваше имя
              input.form-control(
                type="text",
                id="client-name-hero",
                name="client-name-hero",
                placeholder="Ваше имя"
              )
            .form-control__wrapper
              label.visuallyhidden(for="client-email-hero") Ваша почта
              input.form-control(
                type="text",
                id="client-email-hero",
                name="client-email-hero",
                placeholder="Ваша почта"
              )
            .form-control__wrapper
              label.visuallyhidden(for="client-phone-hero") Номер телефона
              input.form-control(
                type="tel",
                id="client-phone-hero",
                name="client-phone-hero",
                placeholder="Ваш номер телефона"
              )
            button.button(type="submit") Отправить заявку

    .slider__wrapper.slider__wrapper--hero
      .hero-slider.slider.slider--hero.js-hero-slider
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-karate
          span.hero-slider__item-title Каратэ
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-judo
          span.hero-slider__item-title Дзюдо
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-jujitsu
          span.hero-slider__item-title Джиу-джитсу
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-aikido
          span.hero-slider__item-title Айкидо
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-ushu
          span.hero-slider__item-title Ушу
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-thai
          span.hero-slider__item-title Тайский бокс
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-mma
          span.hero-slider__item-title MMA
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-freestyle
          span.hero-slider__item-title Вольная борьба
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-kudo
          span.hero-slider__item-title Кудо
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-grappling
          span.hero-slider__item-title Грепплинг
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-greek
          span.hero-slider__item-title
            | Греко-Римская
            br
            | борьба
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-taekwondo
          span.hero-slider__item-title Тхэквандо
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-boxing
          span.hero-slider__item-title Бокс
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-hand-to-hand
          span.hero-slider__item-title
            | Рукопашный
            br
            | бой
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-yoga
          span.hero-slider__item-title Йога
        a.hero-slider__item.slider-item(
          href="#"
        )
          span.icon-martial.icon-martial-gymnastics
          span.hero-slider__item-title Гимнастика



      
      .slider-nav.slider-nav--shevrons.slider-nav--hero#hero-nav
        button.slider-nav__prev(aria-label="Предыдущий слайд")
        button.slider-nav__next(aria-label="Следующий слайд")

