.menu.menu--primary
  a.menu__item.menu__item--primary(
    href="#"
  ) Будо-маты
  a.menu__item.menu__item--primary(
    href="#"
  ) Борцовские ковры
  a.menu__item.menu__item--primary(
    href="#"
  ) Татами
  a.menu__item.menu__item--primary(
    href="#"
  ) Ролл-маты
  a.menu__item.menu__item--primary(
    href="#"
  ) Маты
  a.menu__item.menu__item--primary(
    href="#"
  ) Стеновые протекторы
  a.menu__item.menu__item--primary(
    href="#"
  ) Ринги
  a.menu__item.menu__item--primary(
    href="#"
  ) клетка ММА
  a.menu__item.menu__item--primary(
    href="#"
  ) Резиновая плитка
  a.menu__item.menu__item--primary(
    href="#"
  ) Детский пол

