ul.menu.menu--primary
  li.menu__item
    a.menu__link(
      href="budo.html"
    ) Будо-маты
  li.menu__item
    a.menu__link(
      href="carpet.html"
    ) Борцовские ковры
  li.menu__item
    a.menu__link(
      href="tatami.html"
    ) Татами
  li.menu__item
    a.menu__link(
      href="roll.html"
    ) Ролл-маты
  li.menu__item
    a.menu__link(
      href="mat.html"
    ) Маты
  li.menu__item
    a.menu__link(
      href="wall.html"
    ) Стеновые протекторы
  li.menu__item
    a.menu__link(
      href="ring.html"
    ) Ринги
  li.menu__item
    a.menu__link(
      href="mma.html"
    ) клетка ММА
  li.menu__item
    a.menu__link(
      href=".html"
    ) Резиновая плитка
  li.menu__item
    a.menu__link(
      href="child.html"
    ) Детский пол

