ul.menu.menu--primary
  li.menu__item
    a.menu__link(
      href="#"
    ) Будо-маты
  li.menu__item
    a.menu__link(
      href="#"
    ) Борцовские ковры
  li.menu__item
    a.menu__link(
      href="#"
    ) Татами
  li.menu__item
    a.menu__link(
      href="#"
    ) Ролл-маты
  li.menu__item
    a.menu__link(
      href="#"
    ) Маты
  li.menu__item
    a.menu__link(
      href="#"
    ) Стеновые протекторы
  li.menu__item
    a.menu__link(
      href="#"
    ) Ринги
  li.menu__item
    a.menu__link(
      href="#"
    ) клетка ММА
  li.menu__item
    a.menu__link(
      href="#"
    ) Резиновая плитка
  li.menu__item
    a.menu__link(
      href="#"
    ) Детский пол

