.mobile-nav(hidden)
  .mobile-nav__overlay
  .mobile-nav__content
    .side-menu
      .side-menu__head
        .brand-wrapper.brand-wrapper--mobile
          a.brand
            img(
              src="img/general/logo.png",
              scrset="img/general/logo.png 1x, img/general/logo@2x.png 1.5x, img/general/logo@2x.png 2x, img/general/logo@2x.png 3x,"
              alt="логотип Euromat"
            )
        button.side-menu__close
      
      .side-menu__body
        .side-menu__module
          .header-cities.header-cities--mobile
            span.icon.icon-placeholder
            span.header-cities__label Ваше местоположение:
            |
            |
            span.header-cities__link Москва
        
        .side-menu__module
          .header-members.header-members--mobile
            p.header-members__text
              | Официальные представители в России и странах СНГ
            .header-members__flags
              span.icon.icon-flag-ru(title="Россия")
              span.icon.icon-flag-by(title="Белорусь")
              span.icon.icon-flag-ukr(title="Украина")
              span.icon.icon-flag-kz(title="Казахстан")
              span.icon.icon-flag-pl(title="Польша")

        .side-menu__module
          .menu.menu--mobile
            a.menu__item(
              href="#"
            ) Будо-маты
            a.menu__item(
              href="#"
            ) Борцовские ковры
            a.menu__item(
              href="#"
            ) Татами
            a.menu__item(
              href="#"
            ) Ролл-маты
            a.menu__item(
              href="#"
            ) Маты
            a.menu__item(
              href="#"
            ) Стеновые протекторы
            a.menu__item(
              href="#"
            ) Ринги
            a.menu__item(
              href="#"
            ) клетка ММА
            a.menu__item(
              href="#"
            ) Резиновая плитка
            a.menu__item(
              href="#"
            ) Детский пол

        .side-menu__module
          ul.menu-info
            li.menu-info__item
              a.menu-info__item-link(href="tel:+74995262525") +7 (499) 526-25-25
              span.menu-info__item-notes Режим работы: Круглосуточно
            li.menu-info__item
              a.menu-info__item-link(href="mailto:euromat@info.ru") Euromat@info.ru
              span.menu-info__item-notes Напишите нам на почту

  
