.ring-about__bottom(
    style="background-image: url(img/general/pattern-1.png), url(img/general/pattern-3.png);"
  )
  .container
    h2.title.title--ring-about
      | Ринг боксерский на помосте
      br
      span.smaller от 191 000 рублей/м<sup>2</sup>
    p.ring-about__desc
      | У нас вы можете купить боксерский ринг на помосте любого размера.
      br
      | Ринг на помосте прекрасно подходит для проведения тренировок и соревнований по боксу и другим видам единоборств. Его преимуществом является, что его можно установить, даже не на очень ровную поверхность, компенсируя это регулировкой ножек. Кроме того, при необходимости его можно разобрать и перенести в другое место!
    .ring-about__grid.negative-m
      .ring-about__bottom-left
        .bullet-list__wrapper.bullet-list__wrapper--ring-about
          h3.bullet-list__heading Полная комплектация:
          ul.bullet-list.bullet-list--ring-about
            li.bullet-list__item
              | Мягкий настил ППЭ (плотность 220 кг/м<sup>3</sup>)
            li.bullet-list__item
              | Основное покрытие ПВХ
            li.bullet-list__item
              | Стойки / перемычки
            li.bullet-list__item
              | Ферма подиума
            li.bullet-list__item
              | Настил фанерный
            li.bullet-list__item
              | Угловые подушки
            li.bullet-list__item
              | Канаты в чехлах
            li.bullet-list__item
              | Растяжки канатов / защита растяжек канатов
            li.bullet-list__item
              | Крепежные элементы

          p.highlight
            b Прилагается подробная схема сборки ринга

      .ring-about__bottom-right
        img.ring-about__img.lozad(
          data-src="img/content/ring/ring-img-3.png",
          alt=""
        )
        noscript
          img.ring-about__img(
            src="img/content/ring/ring-img-3.png",
            alt=""
          )

    .ring-about__foot
      .ring-about__foot-module
        h3.ring-about__heading Размеры ринга:
        .control-group.control-group--ring-about
          .control-item
            .control-item__label 5х5 м
          .control-item
            .control-item__label 6х6 м
          .control-item
            .control-item__label 7х7 м

      .ring-about__foot-module
        .ring-about__notes
          .ring-about__notes-text
            | Возможность производства покрытия,
            br
            | <span class="smaller">канатов и подушек в индивидуальных цветах</span>
          button.button(
            type="button",
            data-micromodal-trigger="modal-form-bid"
          ) Оставить заявку