.banner.banner-calculation.banner--calculation(style="background-image: url(img/backgrounds/bg-calculation.jpg);")
  .container
    .banner-calculation__grid
      .banner-calculation__col-left
        p.title.title--banner.title--banner-calculation
          span.smaller рассчитайте стоимость
          span.bigger вашего покрытия

        .banner-calculation__info
          .banner-calculation__info-title
            | Ликвидация склада до 30.08.2019
          .banner-calculation__info-text
            | При оформлении заявки сейчас - скидка 3%

        .banner-calculation__foot
          .banner-calculation__foot-title
            | Варианты по размерам
          .control-group.control-group--banner-calculation-foot
            .control-item
              input.visuallyhidden#banner-calculation-size-1(
                type="radio",
                name="banner-calculation-size",
                value="5х5 м",
                checked
              )
              label.control-item__label(for="banner-calculation-size-1")
                | <b>5х5 м</b>
                br
                | Боевая зона: <b>4х4м</b>

            .control-item
              input.visuallyhidden#banner-calculation-size-2(
                type="radio",
                name="banner-calculation-size",
                value="6х6 м",
              )
              label.control-item__label(for="banner-calculation-size-2")
                | <b>6х6 м</b>
                br
                | Боевая зона: <b>5х5м</b>

            .control-item
              input.visuallyhidden#banner-calculation-size-3(
                type="radio",
                name="banner-calculation-size",
                value="7х7 м",
              )
              label.control-item__label(for="banner-calculation-size-3")
                | <b>7х7 м</b>
                br
                | Боевая зона: <b>6х6м</b>

      .banner-calculation__col-right
        .banner-calculation__form-wrapper
          form.form.form--banner-calculation
            p.form-lead
              | Мы вышлем прайс-лист на Вашу почту в ближайшее время
            .form-control__wrapper
              label.visuallyhidden(for="client-name") Ваше имя
              input.form-control(
                type="text",
                id="client-name",
                name="client-name",
                placeholder="Ваше имя"
              )
            .form-control__wrapper
              label.visuallyhidden(for="client-phone") Номер телефона
              input.form-control(
                type="tel",
                id="client-phone",
                name="client-phone",
                placeholder="Номер телефона"
              )
            .form-control__wrapper
              label.visuallyhidden(for="client-email") E-mail
              input.form-control(
                type="email",
                id="client-email",
                name="client-email",
                placeholder="E-mail"
              )
            .form-control__wrapper.form-control__wrapper--last
              input.button(type="submit" value="Оставить заявку")

            .form__acceptance-wrapper
              input.visuallyhidden#client-acceptance(
                type="checkbox",
                name="client-acceptance",
                checked
              )
              label.form__acceptance-label(for="client-acceptance")
                span.form__acceptance-mask
                | - Я даю согласие на обработку моих персональных данных
