-
  var sales = [
    {
      img: 'img/content/sale/img-1.jpg',
      title: '1',
    },
    {
      img: 'img/content/sale/img-2.jpg',
      title: '2',
    },
    {
      img: 'img/content/sale/img-3.jpg',
      title: '3',
    },
  ];

section.banner.banner--sale.banner-sale(style="background-image: url(img/general/pattern-1.png);")
  .container
    .banner-sale__grid.pure-g
      .banner-sale__col-left.pure-u-1.pure-u-xl-1-2
        h2.title.title--banner.title--banner-sale
          span.bigger Акция
          |
          span.highlight.smaller Предложение ограничено
        p.banner-sale__subtitle
          | Оставьте заявку прямо сейчас и получите подарок!
        button.button(
          type="button",
          data-micromodal-trigger="modal-form-sale"
        ) Получить подарок

      .banner-sale__col-right.pure-u-1.pure-u-xl-1-2
        ul.card-list.card-list--banner-sale
          each item, index in sales
            li.card-list__item.js-check(
              data-aos="fade-up",
            )
              .card-list__item-inner
                .card.card--bg
                  figure.card-media
                    .card-media__content
                      img.lozad(
                        data-src= item.img,
                        alt=""
                      )
                      noscript
                        img(
                          src= item.img,
                          alt=""
                        )
                  .card__foot
                    img(src="img/general/card-logo.png", alt="")
                .control-box
                  input.visuallyhidden(
                  type="radio",
                  name="sale",
                  id= "sale-" + (index+1),
                  value= item.title,
                  )
                  label.control-box__label(
                    for="sale-" + (index+1)
                  )
                  span.control-box__flag
