section.product-about.product-about--roll(
  style="background-image: url(img/general/pattern-1.png);"
)
  .container
    .product-about__main.clearfix
      .product-about__content
        h2.title.title--roll-about
          | Ролл-маты Euromat
        .product-about__text
          p
            | Ролл-мат представляют из себя мягкий и удобный скручивающийся мат, который идеально походит для проведения тренировок и соревнования по восточным единоборствам.
          p
            | Основными свойствами рол-матов является их экологичность, травмобезопасноть и устойчивость к скольжению, чтобы спортсмены
            br
            | не нанесли себе телесных повреждений

      img.product-about__img.lozad(
        data-src="img/content/roll/roll-img.png",
        alt=""
      )
      noscript
        img.product-about__img(
          src="img/content/roll/roll-img.png",
          alt=""
        )

    .product-about__foot
      .product-about__foot-content
        p.product-about__foot-heading
          | разместим на ролл-матах логотип вашей компании
        p.product-about__foot-subheading
          | Оставьте заявку и наш специалист свяжется с вами для подробной консультации

      button.button(
        type="button",
        data-micromodal-trigger="modal-form-bid"
      ) Оставить заявку