footer.footer
  .container
    .footer__content.d-flex-wrapped
      .footer__info
        .footer-requisites
          h5.footer-requisites__title Реквизиты:
          .footer-requisites__list
            .footer-requisites__col.footer-requisites__col--1
              span.footer-requisites__item ООО Евромат Групп
              span.footer-requisites__item ИНН 3324125615
            .footer-requisites__col.footer-requisites__col--2
              span.footer-requisites__item ОГРН 1193328007146
              span.footer-requisites__item Банк 042202824 АО «АЛЬФА-БАНК»
            .footer-requisites__col.footer-requisites__col--3
              span.footer-requisites__item Счет 40702810329050004913
          address.footer-address Россия, 129281 г. Москва, ул. Попова, д. 20, оф. 123

      .socials.socials--footer
        p.solials-title Мы в социальных сетях:
        .socials-list
          a.socials-list__item(
            href="#",
            title="Facebook",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-facebook
          
          a.socials-list__item(
            href="https://www.instagram.com/euromatsportsurface/",
            title="Instagram",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-instagram
          
          a.socials-list__item(
            href="https://vk.com/euromatsportsurface",
            title="ВКонтакте",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-vk

a.button-to-home#back_to_home(
  href="index.html",
  area-label='На главную',
  title="На главную"
)
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
a.button-to-top#back_to_top(
  href="#",
  area-label='Вернуться в начало',
  title="Вернуться в начало"
)