footer.footer
  .container
    .footer__content.d-flex-wrapped
      .footer__info
        .footer-requisites
          h5.footer-requisites__title Реквизиты:
          .footer-requisites__list
            .footer-requisites__col.footer-requisites__col--1
              span.footer-requisites__item ООО Евромат Групп
              span.footer-requisites__item ИНН 3324125615
            .footer-requisites__col.footer-requisites__col--2
              span.footer-requisites__item ОГРН 1193328007146
              span.footer-requisites__item Банк 042202824 АО «АЛЬФА-БАНК»
            .footer-requisites__col.footer-requisites__col--3
              span.footer-requisites__item Счет 40702810329050004913

      .socials.socials--footer
        p.solials-title Мы в социальных сетях:
        .socials-list
          a.socials-list__item(
            href="#",
            title="Facebook",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-facebook
          
          a.socials-list__item(
            href="https://www.instagram.com/euromatsportsurface/",
            title="Instagram",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-instagram
          
          a.socials-list__item(
            href="https://vk.com/euromatsportsurface",
            title="ВКонтакте",
            rel="noopener",
            target="_blank"
          )
            span.icon.icon-vk