-
  var team = [
    {
      name: 'Архипов Алексей',
      position: 'Эксперт по спортивным покрытиям и оборудованию',
      img: 'img/content/team/Arkhipov-Aleksej.jpg',
    },
    //- {
    //-   name: 'Демченко Илья',
    //-   position: 'Эксперт по спортивным покрытиям и оборудованию',
    //-   img: 'img/content/team/',
    //- },
    {
      name: 'Востриков Дмитрий',
      position: 'Эксперт по спортивным покрытиям и оборудованию',
      img: 'img/content/team/Vostrikov-Dmitrij.jpg',
    },
    {
      name: 'Гаврилов Алексей',
      position: 'Бренд менеджер',
      img: 'img/content/team/Gavrilov-Aleksej.jpg',
    },
    {
      name: 'Николай Захаров',
      position: 'Юрист',
      img: 'img/content/team/Nikolaj-Zakharov.jpg',
    },
    {
      name: 'Виктория Лям',
      position: 'Сопровождение по ходу заказа и логистики, оперативный учет',
      img: 'img/content/team/Viktoriya-Lyam.jpg',
    },
    {
      name: 'Ксения Волгина',
      position: 'Бухгалтер',
      img: 'img/content/team/Kseniya-Volgina.jpg',
    },
    {
      name: 'Давид Мебония',
      position: 'Дизайнер спортивного оборудования',
      img: 'img/content/team/David-Meboniya.jpg',
    },
    {
      name: 'Артур Коробов',
      position: 'Руководитель дилерского отдела',
      img: 'img/content/team/Artur-Korobov.jpg',
    },
    {
      name: 'Вадим Игнатьев',
      position: 'Начальник цеха',
      img: 'img/content/team/Vadim-Ignatjev.jpg',
    },
    {
      name: 'Ренат Исаев',
      position: 'Специалист по тендерам и аукционам',
      img: 'img/content/team/Renat-Isaev.jpg',
    },
    {
      name: 'Роман Миронов',
      position: 'Директор по продуктам',
      img: 'img/content/team/Roman-Mironov.jpg',
    },
    {
      name: 'Валера Солдатов',
      position: 'Начальник службы монтажа',
      img: 'img/content/team/Valera-Soldatov.jpg',
    },
    {
      name: 'Влад Ковалев',
      position: 'Сопровождение по ходу заказа и логистики, оперативный учет',
      img: 'img/content/team/Vlad-Kovalev.jpg',
    },
    {
      name: 'Комарина Юлия',
      position: 'Директор экономики',
      img: 'img/content/team/Komarina-Yuliya.jpg',
    },
    {
      name: 'Павел Прохоров',
      position: 'Ведущий инженер-технолог',
      img: 'img/content/team/Pavel-Prokhorov.jpg',
    },
    
  ];

section.team(style="background-image: url(img/general/pattern-1.png),url(img/general/pattern-2.png);")
  .container
    .team__grid.pure-g
      .team__col.team__col-left.pure-u-1.pure-u-lg-1-2
        h2.title.title--team Наша команда
        p.team__subtitle Небольшой текст о команде
        .team__text
          p
            | С другой стороны новая модель организационной деятельности в значительной степени обуславливает создание форм развития. С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения форм развития. 
          p
            | Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений.
      
      .team__col.team__col-right.pure-u-1.pure-u-lg-1-2
        .card.card--bg.card--office
          figure.card-media
            .card-media__content
              img.lozad(
                data-src="img/content/office.jpg",
                alt=""
              )
              noscript
                img(
                  src="img/content/office.jpg",
                  alt=""
                )
          .card__body
            p.card__title Офис компании EUROMAT
    h3.team__heading Наши сотрудники
    .slider__wrapper.slider__wrapper--team
      .slider.slider--team.js-team-slider
        each item in team
          .slider-item.slider-item--team
            .card.card--bg.card--team
              figure.card-media
                .card-media__content
                  img(data-lazy= item.img, alt="")
              .card__body
                h4.card__title= item.name
                p.card__text= item.position


      .slider-nav.slider-nav--shevrons.slider-nav--team#team-nav
        button.slider-nav__prev(aria-label="Предыдущий слайд")
        button.slider-nav__next(aria-label="Следующий слайд")

