-
  var colors_classic = [
    {
      img: 'img/content/tile/colors-classic/black.jpg',
      title: 'Черный'
    },
    {
      img: 'img/content/tile/colors-classic/grey.jpg',
      title: 'Серый'
    },
    {
      img: 'img/content/tile/colors-classic/brown.jpg',
      title: 'Коричневый'
    },
    {
      img: 'img/content/tile/colors-classic/red.jpg',
      title: 'Красный'
    },
    {
      img: 'img/content/tile/colors-classic/orange.jpg',
      title: 'Оранжевый'
    },
    {
      img: 'img/content/tile/colors-classic/orange.jpg',
      title: 'Песочный'
    },
    {
      img: 'img/content/tile/colors-classic/blue.jpg',
      title: 'Синий'
    },
    {
      img: 'img/content/tile/colors-classic/green.jpg',
      title: 'Зеленый'
    },
  ];
-
  var colors_bright = [
    {
      img: 'img/content/tile/colors-bright/brown.jpg',
      title: 'Коричневый'
    },
    {
      img: 'img/content/tile/colors-bright/red.jpg',
      title: 'Красный'
    },
    {
      img: 'img/content/tile/colors-bright/orange.jpg',
      title: 'Оранжевый'
    },
    {
      img: 'img/content/tile/colors-bright/yellow.jpg',
      title: 'Желтый'
    },
    {
      img: 'img/content/tile/colors-bright/grey.jpg',
      title: 'Серый'
    },
    {
      img: 'img/content/tile/colors-bright/blue.jpg',
      title: 'Синий'
    },
    {
      img: 'img/content/tile/colors-bright/green.jpg',
      title: 'Зеленый'
    },
    {
      img: 'img/content/tile/colors-bright/turquoise.jpg',
      title: 'Бирюзовый'
    },
  ];




section.tile-colors
  .container
    h2.title.title--tile-colors
      | Цветовые решения
    .tile-colors__grid.negative-m
      .tile-colors__col-left
        h3.tile-colors__heading Классические цвета
        ul.card-list.card-list--tile-colors.js-tile-colors
          each item, index in colors_classic
            li.card-list__item
              .card.card--bg
                figure.card-media
                  .card-media__content
                    img.lozad(
                      data-src=item.img,
                      alt=""
                    )
                    noscript
                      img(
                        src=item.img,
                        alt=""
                      )
                .card__foot
                  img(src="img/general/card-logo.png", alt="")
              .card-list__item-foot
                span.card-list__item-title!= item.title

      .tile-colors__col-right
        h3.tile-colors__heading Яркие цвета EPDM
        ul.card-list.card-list--tile-colors.js-tile-colors
          each item, index in colors_classic
            li.card-list__item
              .card.card--bg
                figure.card-media
                  .card-media__content
                    img.lozad(
                      data-src=item.img,
                      alt=""
                    )
                    noscript
                      img(
                        src=item.img,
                        alt=""
                      )
                .card__foot
                  img(src="img/general/card-logo.png", alt="")
              .card-list__item-foot
                span.card-list__item-title!= item.title

    p.tile-colors__info
      | Резиновая плитка 500х500 см
    button.button(
      type="button",
      data-micromodal-trigger="modal-form-bid"
    ) Оставить заявку <span class="button-extra-text">на Резиновую плитку</span>
