-
  var colors = [
    {
      img: 'img/content/carpet/colors/classic.png',
      title: 'Классический ковер для борьбы'
    },
    {
      img: 'img/content/carpet/colors/sambo.png',
      title: 'Ковер для Самбо и Боевого самбо'
    },
    {
      img: 'img/content/carpet/colors/free.png',
      title: 'Вольная и Греко-римская борьба'
    },
    {
      img: 'img/content/carpet/colors/judo.png',
      title: 'Ковер для Дзюдо новый стандарт'
    },
    {
      img: 'img/content/carpet/colors/judo-classic.png',
      title: 'Ковер для Дзюдо классический'
    },
    {
      img: 'img/content/carpet/colors/mono.png',
      title: 'Одноцветный ковер'
    },
  ];
-
  var exclusive = [
    {
      img: 'img/content/carpet/colors/grey-black-o.png',
      title: 'Серо-черный'
    },
    {
      img: 'img/content/carpet/colors/red-black-o.png',
      title: 'Красно-черный'
    },
    {
      img: 'img/content/carpet/colors/black-white-o.png',
      title: 'Черно-белый'
    },
    {
      img: 'img/content/carpet/colors/blue-red.png',
      title: 'Сине-красный'
    },
    {
      img: 'img/content/carpet/colors/tricolor.png',
      title: 'Трехцветный'
    },
    {
      img: 'img/content/carpet/colors/black-red.png',
      title: 'Черно-красный'
    },
    {
      img: 'img/content/carpet/colors/black-white.png',
      title: 'Черно-белый'
    },
    {
      img: 'img/content/carpet/colors/red.png',
      title: 'Красный'
    },
    {
      img: 'img/content/carpet/colors/black.png',
      title: 'Черный'
    },
    {
      img: 'img/content/carpet/colors/double.png',
      title: 'Двойной ковер '
    },
    {
      img: 'img/content/carpet/colors/white-octagon.png',
      title: 'Белый восьмиугольник'
    },
  ];


section.carpet-colors
  .container
    h2.title.title--carpet-colors
      | Цветовые решения для
      br
      | борцовых покрышек
    ul.card-list.card-list--carpet-colors
      each item, index in colors
        li.card-list__item
          .card.card--bg
            figure.card-media
              .card-media__content
                img.lozad(
                  data-src= item.img,
                  alt=""
                )
                noscript
                  img(
                    src= item.img,
                    alt=""
                  )
            .card__foot
              img(src="img/general/card-logo.png", alt="")
          .card-list__item-foot
            span.card-list__item-title!= item.title

    h3.title.title--carpet-colors
      | Эксклюзивные цвета
    ul.card-list.card-list--carpet-colors
      each item, index in exclusive
        if index !== 9
          li.card-list__item
            .card.card--bg
              figure.card-media
                .card-media__content
                  img.lozad(
                    data-src= item.img,
                    alt=""
                  )
                  noscript
                    img(
                      src= item.img,
                      alt=""
                    )
              .card__foot
                img(src="img/general/card-logo.png", alt="")
            .card-list__item-foot
              span.card-list__item-title!= item.title
        else
          li.card-list__item.card-list__item--double
            .card.card--bg
              figure.card-media
                .card-media__content
                  img.lozad(
                      data-src= item.img,
                      alt=""
                    )
                  noscript
                    img(
                      src= item.img,
                      alt=""
                    )
              .card__foot
                img(src="img/general/card-logo.png", alt="")
            .card-list__item-foot
              span.card-list__item-title!= item.title